:host {
    display: block;
    
    .table-row {
        display: flex;
    
        .table-col {
            margin-right: 10px;
            min-width: 100px;
        }

        border-bottom: 1px dashed black;
        
        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background: green;
        }
    }    

    recursive-table-body {
        margin: 5px;
        border: 1px solid red;
    }
}
