<div class="row-wrapper" *ngFor="let item of items">
    <div class="table-row">
        <div class="table-col tilda-col">
            ~
        </div>
        <div class="table-col">
            {{item.seq}}
        </div>
        <div class="table-col">
            {{item.id}}
        </div>
        <div class="table-col">
            {{item.name}}
        </div>
        <div class="table-col">
            {{item.description}}
        </div>
    </div>

    <recursive-table-body *ngIf="item.children" [items]="item.children">
    </recursive-table-body>
</div>