<div class="table-header">
    <div class="table-row">
        <div class="table-col" [style.width.px]="getColWidth(10)">

        </div>
        <div class="table-col" [style.width.px]="getColWidth(10)">
            Seq
        </div>
        <div class="table-col" [style.width.px]="getColWidth(10)">
            Id
        </div>
        <div class="table-col" [style.width.px]="getColWidth(10)">
            Name
        </div>
        <div [style.width]="getColWidth(10)">
            Description
        </div>
    </div>
</div>

<recursive-table-body [items]="items">
</recursive-table-body>